:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  color:#ffffff;
  margin-left: 2rem;
}

button, input, select {
  margin: .5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .7rem .7rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8a8a8a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.counter {
  display: flexbox;
  height: 30rem;

  text-align: center;
  vertical-align: middle;
}

.count {
  font-size: 20rem;
  color: #ffffff;
}

.clickStart {
  font-size: 5rem;
  font-weight: 700;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.line-with-circles {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 80%;
  border: none;
  border-top: 3px solid #ffffff;
  position: relative;
  margin-top: 1rem;
}

.circles {
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: relative;
  margin-top: -3.2rem;
}

.circle-container {
  position: relative;
}

.circle {
  width: 6rem;
  height: 6rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.filled {
  background-color: #ffffff;
}

.circle-icon {
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
}

.circle-dropdown {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8a8a8a;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
}