:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5vh repeat(3, auto);
  gap: 1rem;
  padding: 2rem;
}

.header-space {
  grid-area: 1 / 1 / 2 / 4; /* Spans across all columns */
}

.counter-container {
  grid-area: 2 / 2 / 3 / 3; /* Area 5 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vh;
  text-align: center;
  vertical-align: middle;
}

.half-circle {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0);
  border-radius: 50%;
  border: 4px #ffffff solid;
  position: absolute;
  bottom: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.tempo-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
}

.tempo-controls button {
  color:#ffffff;
  background-color: rgb(0,0,0,0);
  font-size: 9vh;
}

.tempo-controls button {
    font-size: 6rem;
  }

.count {
  font-size: 9rem;
  color: #ffffff;
  margin: 0 1rem;
  flex-shrink: 0;
  width: 12vw;
  text-align: center;
  user-select: none;
  cursor: default;
}

button, select {
  margin: 0.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.7rem 0.7rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8a8a8a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* button:focus, select:focus,
button:focus-visible, select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.line-with-circles {
  grid-area: 3 / 1 / 4 / 4;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 80%;
  border: none;
  border-top: 3px solid #ffffff;
  position: relative;
  margin-top: 1rem;
}

.circles {
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: relative;
  margin-top: -4.5vh;
}

.circle-container {
  position: relative;
}

.circle {
  width: 8vh;
  height: 8vh;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.filled {
  background-color: #ffffff;
}

.circle-icon {
  width: 8vh;
  height: 68h;
  margin-top: 1.7vh;
}

.circle-dropdown {
  position: absolute;
  top: 2.8rem; /* Adjusted to fit below the larger circle */
  left: 50%;
  transform: translateX(-50%);
  background-color: #8a8a8a;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-dropdown div {
  padding: 0.2rem 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* .circle-dropdown div:hover {
  background-color: #646cff;
} */

.startButton {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #646cff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.startButton:hover {
  background-color: #5353ff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 15vh repeat(2, auto);
    align-items: center;
    padding: 4vw;
  }

  .tempo-selection,
  .counter-container,
  .beats-per-measure-selection,
  .line-with-circles {
    grid-column: 1 / -1;
  }

  .counter {
    height: 40vh;
    width: 40vh;
  }

  .half-circle {
    width: 100%;
    height: 100%;
  }

  .tempo-controls button {
    font-size: 6rem;
  }

  .tempo-controls button,
  .count {
    margin: 0 7vw;
  }

  .count {
    font-size: 13vh;
    width: 10vh; /* Adjusted width for smaller screens */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line {
    width: 90vw;
  }

  .line-with-circles {
    margin-top: 2rem;
  }
  .circles {
    width: 90vw;
  }
  .circle {
    margin-top: 1.5vh;
    width: 5vh;
    height: 5vh;
  }

  .circle-icon {
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
  }
}